<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have new lead <%= @lead.name %> <%= @lead.email%></h1>
    <p>
      <%= @lead.message %>
    </p>
  </body>
</html>